# Windows metafiles
Thumbs.db

# Mac metafiles
._*
.DS_Store

# Python bytecode
*.pyc

# PyInstaller build output
build
dist

# Test output
Chapter002/image.png
PythonUtils/image.png

# Cascade training datasets
Chapter003/cascade_training/CAT_DATASET_01
Chapter003/cascade_training/CAT_DATASET_02
Chapter003/cascade_training/faces
Chapter003/cascade_training/urtho_negatives
Chapter003/cascade_training/VOC2007

# Cascade training intermediate output
Chapter003/cascade_training/binary_description
Chapter003/cascade_training/haarcascade_frontalcatface
Chapter003/cascade_training/haarcascade_frontalcatface_extended
Chapter003/cascade_training/lbpcascade_frontalcatface

# Application output
Chapter003/recognizers
Chapter005/config.dat
